<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" type="text/css" href="/public/styles/main.css">
    <link rel="stylesheet" type="text/css" href="/public/styles/dashboard.css">
    <script src="/public/scripts/main.js" defer></script>
</head>
<body>
    
    <nav class="top">
        <ul class="left">
            <li>Progress Bar</li>
            <li>1,250 💎</li>
            <li>5 🔥</li>
        </ul>
        <ul class="right">
            <li>Swipe</li>
            <li>Quests</li>
            <li>Leaders</li>
            <li>Upload</li>
            <li>Profile</li>
        </ul>
    </nav>

        <div class="container">
            <main>
            <!-- <?php echo $cards['title'] ?? 'Default Title'; ?> -->
                    <img src="<?php echo $cards['imageUrlPath'] ?? 'https://picsum.photos/1024'; ?>">
            </main>
        </div>

    <nav class="bottom">
        <ul>
            <li>Downvote</li>
            <li>Comments</li>
            <li>Upvote</li>
        </ul>
    </nav>
</body>
</html>