<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" type="text/css" href="/public/styles/main.css">
    <link rel="stylesheet" type="text/css" href="/public/styles/dashboard.css">
    <script src="/public/scripts/main.js" defer></script>
</head>
<body>
    
    <nav class="top">
        <ul class="left">
            <li>Lv 12 <meter id="disk_d" value="0.6"></meter> </li>
            <li>1,250 💎</li>
            <li>5 🔥</li>
        </ul>
        <ul class="right">
            <li class="desktop-only">Swipe<span class="material-symbols-outlined">home</span></li>
            <li class="desktop-only">Quests<span class="material-symbols-outlined">trophy</span></li>
            <li class="desktop-only">Leaders<span class="material-symbols-outlined">leaderboard</span></li>
            <li class="desktop-only">Upload<span class="material-symbols-outlined">upload</span></li>
            <li class="desktop-only">Profile<span class="material-symbols-outlined">person</span></li>
        </ul>
    </nav>

        <div class="container">
            <!-- <?php echo $cards['title'] ?? 'Default Title'; ?> -->
            <img src="<?php echo $cards['imageUrlPath'] ?? 'https://picsum.photos/2156/1228'; ?>">
        </div>

    <nav class="bottom">
        <ul>
            <li class="desktop-only">Downvote <span class="material-symbols-outlined">thumb_down</span></li>
            <li class="desktop-only">Comments <span class="material-symbols-outlined">comment</span></li>
            <li class="desktop-only">Upvote <span class="material-symbols-outlined">thumb_up</span></li>
            
            <li class="mobile-only">Swipe<span class="material-symbols-outlined">home</span></li>
            <li class="mobile-only">Quests<span class="material-symbols-outlined">trophy</span></li>
            <li class="mobile-only">Leaders<span class="material-symbols-outlined">leaderboard</span></li>
            <li class="mobile-only">Upload<span class="material-symbols-outlined">upload</span></li>
            <li class="mobile-only">Profile<span class="material-symbols-outlined">person</span></li>
        </ul>
    </nav>
</body>
</html>