<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/public/styles/main.css">
    <link rel="stylesheet" type="text/css" href="/public/styles/login.css">
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
    <title>Login</title>
</head>
<body>
    <nav class="top desktop-only anchor">
        <ul class="left">
        <?php if (isset($_SESSION['user_id'])): ?>
            <li>Lvl <?php echo htmlspecialchars($stats['level'] ?? 'N/A'); ?> <meter id="disk_d" value="<?php echo ($stats['experience'] ?? 0) / 100; ?>"></meter></li>
            <li><?php echo number_format($stats['diamonds'] ?? 0); ?> 💎</li>
            <li><?php echo $stats['streak'] ?? 0; ?> 🔥</li>
        <?php endif; ?>
        </ul>
        <ul class="right">
            <li><a href="/dashboard">Swipe<span class="material-symbols-outlined">home</span></a></li>
            <li><a href="/quests">Quests<span class="material-symbols-outlined">trophy</span></a></li>
            <li><a href="/leaders">Leaders<span class="material-symbols-outlined">leaderboard</span></a></li>
            <li><a href="/upload">Upload<span class="material-symbols-outlined">upload</span></a></li>
            <li><a href="/profile">Profile<span class="material-symbols-outlined">person</span></a></li>
        </ul>
    </nav>
    <main class="scrollable">
        <?php if(isset($messages)): ?>
            <p class="messages">
            <?= $messages; ?>
            </p>
        <?php endif; ?>
        <form action="/login" method="post">
            <h1>Login</h1>
            <input type="email" id="email" name="email" placeholder="Email" required>
            <br>
            <input type="password" id="password" name="password" placeholder="Password" required>
            <br>
            <input type="submit" value="Login">
        </form>
        <p>Don't have an account? <a href="/register">Register</a></p>
    </main>
    <nav class="bottom mobile-only anchor">
        <ul>
            <li class="mobile-only"><a href="/dashboard">Swipe<span class="material-symbols-outlined">home</span></a></li>
            <li class="mobile-only"><a href="/quests">Quests<span class="material-symbols-outlined">trophy</span></a></li>
            <li class="mobile-only"><a href="/leaders">Leaders<span class="material-symbols-outlined">leaderboard</span></a></li>
            <li class="mobile-only"><a href="/upload">Upload<span class="material-symbols-outlined">upload</span></a></li>
            <li class="mobile-only"><a href="/profile">Profile<span class="material-symbols-outlined">person</span></a></li>
        </ul>
    </nav>
</body>
</html>