<!DOCTYPE html>
<html>
<head>
    <title>Upload</title>
    <link rel="stylesheet" type="text/css" href="/public/styles/main.css">
    <link rel="stylesheet" type="text/css" href="/public/styles/upload.css">
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <nav class="top desktop-only anchor">
        <ul class="left">
            <li>Lvl 12 <meter id="disk_d" value="0.6"></meter> </li>
            <li>1,250 💎</li>
            <li>5 🔥</li>
        </ul>
        <ul class="right">
            <li><a href="/dashboard">Swipe<span class="material-symbols-outlined">home</span></a></li>
            <li><a href="/quests">Quests<span class="material-symbols-outlined">trophy</span></a></li>
            <li><a href="/leaders">Leaders<span class="material-symbols-outlined">leaderboard</span></a></li>
            <li><a href="/upload">Upload<span class="material-symbols-outlined">upload</span></a></li>
            <li><a href="/profile">Profile<span class="material-symbols-outlined">person</span></a></li>
        </ul>
    </nav>
    <nav class="top mobile-only anchor">
        <ul>
            <li>Lvl 12 <meter id="disk_d" value="0.6"></meter> </li>
            <li>1,250 💎</li>
            <li>5 🔥</li>
        </ul>
    </nav>
    <main class="scrollable">
        <div>
            <p>Next upload available in:</p>
            <h1>00:15:23</h1>
            <div class="dotted-border">
                <h3>Upload file</h3>
                <p>Max file size: 10MB</p>
                <button class="upload-button">Upload File</button>
            </div>
        </div>
    </main>
        <nav class="bottom mobile-only anchor">
        <ul>
            <li class="mobile-only"><a href="/dashboard">Swipe<span class="material-symbols-outlined">home</span></a></li>
            <li class="mobile-only"><a href="/quests">Quests<span class="material-symbols-outlined">trophy</span></a></li>
            <li class="mobile-only"><a href="/leaders">Leaders<span class="material-symbols-outlined">leaderboard</span></a></li>
            <li class="mobile-only"><a href="/upload">Upload<span class="material-symbols-outlined">upload</span></a></li>
            <li class="mobile-only"><a href="/profile">Profile<span class="material-symbols-outlined">person</span></a></li>
        </ul>
    </nav>
</body>
</html>