@font-face {
  font-family: 'Spline Sans';
  src: url('fonts/SplineSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Spline Sans';
  src: url('fonts/SplineSans-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Spline Sans';
  src: url('fonts/SplineSans-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Spline Sans';
  src: url('fonts/SplineSans-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Spline Sans';
  src: url('fonts/SplineSans-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
:root {
  --font-family-spline-sans: 'Spline Sans', sans-serif;
  --Background: rgba(18, 18, 18, 1);
  --LightGray: rgba(156, 163, 175, 1);
  --VibrantOrange: rgba(249, 115, 22, 1);
  --BackgroundSecondary: rgba(26, 26, 26, 1);
  --OrangeSecondary: rgba(204, 170, 142, 1);
  --White: rgba(249, 236, 236, 1);
  --OrangeTransparent: rgba(249, 115, 22, 0.1);
  --navbar-height: 4rem;
}



* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  font-family: 'Spline Sans', Arial, sans-serif;
  background-image: url(resources/MemeSwipeTile.png);
  background-repeat: repeat-x repeat-y;
  background-position: top left;
  background-size: 256px 256px;
  color: var(--White);
  text-align: center;
  display: flex;
  flex-direction: column;
}

nav.top {
  background-color: var(--BackgroundSecondary);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  outline: 2px solid var(--LightGray);
  flex-shrink: 0;
  height: var(--navbar-height);
  z-index: 100;
}



nav.top ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 1.5rem;
}

nav.top ul.left {
  justify-content: flex-start;
}

nav.top ul.right {
  justify-content: flex-end;
}

nav.top ul.right li {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  gap: 0.5rem;
}

nav.bottom {
  background-color: var(--BackgroundSecondary);
  display: flex;
  flex-shrink: 0;
  flex-direction: row;
  align-items: center;
  padding: 1rem 2rem;
  outline: 2px solid var(--LightGray);
  height: var(--navbar-height);
  z-index: 100;
}

nav.bottom.mobile-only.anchor {
  background-color: var(--BackgroundSecondary);
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  align-items: center;
  padding: 1rem 2rem;
  outline: 2px solid var(--LightGray);
  height: var(--navbar-height);
  z-index: 100;
}

nav.bottom ul {
  justify-content: space-around;
  display: flex;
  flex-direction: row;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 1.5rem;
  width: 100%;
}

nav.bottom ul li {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  flex-direction: column-reverse
}

.container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  overflow: hidden;
  min-height: 0;
}

.container img {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  object-fit: contain;
  border-radius: 1rem;
  width: 100%;
  height: 100%;
  object-fit: contain;

}

/* Mobile */
@media screen and (max-width: 768px) {
  .mobile-only {
    display: flex !important;
  }
  
  .desktop-only {
    display: none !important;
  }
}

/* Desktop */
@media screen and (min-width: 769px) {
  .mobile-only {
    display: none !important;
  }
  
  .desktop-only {
    display: flex !important;
  }
}