main {
    margin-left: 15vw;
    margin-right: 15vw;
    margin-top: var(--navbar-height);
    padding: 0;
    min-height: 100vh;
    align-content: center;
    background-color: var(--Background);
    }

@media screen and (max-width: 768px) {
    main {
        margin-left: 0;
        margin-right: 0;
    }
}

.profile-image {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    border-color: var(--VibrantOrange);
    border-style: solid;
    border-width: 3px;
}