main {
    margin-left: 15vw;
    margin-right: 15vw;
    padding: 0;
    min-height: 100vh;
    align-content: center;
    background-color: var(--Background);
    }
div.dotted-border {
    border: 2px dashed var(--VibrantOrange);
    border-radius: 8px;
    padding: 2rem;
    text-align: center;
    }

.upload-button {
    background-color: var(--VibrantOrange);
    color: white;
    border: none;
    padding: 0.75rem 1.5rem;
    border-radius: 4px;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    main {
        margin-left: 0;
        margin-right: 0;
    }
}