div.dotted-border {
    border: 2px dashed var(--VibrantOrange);
    border-radius: 8px;
    padding: 2rem;
    text-align: center;
    margin: 5vw;
    }

.upload-button {
    background-color: var(--VibrantOrange);
    color: white;
    border: none;
    padding: 0.75rem 1.5rem;
    border-radius: 4px;
    cursor: pointer;
}
